@media (max-width: 1110px) {
    .btn-hide {
        display: none;
    }
    .headbar {
        padding-top: 2em;
        padding-bottom: 2em;
        width: 100% !important;
        position: relative;
        text-align: center;
    }
    .headbar header {
        margin-bottom: 4em;
    }
    .mainbar {
        width: 100%;
    }
    .mainbar section:first-child {
        margin: 2em 0 0 0;
    }
    .mainbar h2 {
        text-align: center;
    }
    .mainbar .skills .progress {
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        display: block;
    }
    .feedback-item {
        text-align: center;
    }
}

@media (max-width: 424px) {
    .feedback-item {
        display: block !important;
        width: 100% !important;
        text-align: left;
        line-height: 2.5em;
    }
    .feedback-item span {
        margin-left: 0.2em;
    }
}